.table-container {
  width: 100%;
}

table {
  padding-inline: 2em;
  border-collapse: initial !important;
}

.thMission {
  width: 10%;
}

.thDescription {
  width: 65%;
}

.thStatus {
  width: 15%;
}
